# Python Data Types

Built-in Data Types
in programming, data type is an important concept
variables can store data of different types, and differetn types can do different things 
python has the following data types built-in by default, in these categories:


Text Type:	      str
Numeric Types:	  int, float, complex
Sequence Types:	  list, tuple, range
Mapping Type:	  dict
Set Types:	      set, frozenset
Boolean Type:	  bool
Binary Types:	  bytes, bytearray, memoryview
None Type:	      
NoneType

In [1]:
#As we know we can get data types of any object by using type() function

#Example

x= 6 
print(type(x))

<class 'int'>

Setting the data types
IN python , the data type is the set when you assign a value to a variable:

Example	                                       Data Type	
x = "Hello World"	                            str	
x = 20	                                        int	
x = 20.5	                                    float	
x = 1j	                                        complex	
x = ["apple", "banana", "cherry"]	            list	
x = ("apple", "banana", "cherry")	            tuple	
x = range(6)	                                range	
x = {"name" : "John", "age" : 36}	            dict	
x = {"apple", "banana", "cherry"}	            set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	                                    bool	
x = b"Hello"	                                bytes	
x = bytearray(5)	                            bytearray	
x = memoryview(bytes(5))	                    memoryview	
x = None	                                    NoneType

Setting the Specific Data Type
Even if you want to sepfify the data-type, you can use the following constructor function:

Example                                         Data Type
x = str("Hello World")	                         str	
x = int(20)	                                     int	
x = float(20.5)	                                 float	
x = complex(1j)  	                             complex	
x = list(("apple", "banana", "cherry"))	          list	
x = tuple(("apple", "banana", "cherry"))	      tuple	
x = range(6)	                                  range	
x = dict(name="John", age=36)	                  dict	
x = set(("apple", "banana", "cherry"))	          set	
x = frozenset(("apple", "banana", "cherry"))	  frozenset	
x = bool(5)	                                      bool	
x = bytes(5)	                                  bytes	
x = bytearray(5)	                              bytearray	
x = memoryview(bytes(5))	                     memoryview

# Python Numbers

There are three numeric types in python 
int
float
complex

variables of numeric types are created when you addign a value to them:

In [2]:
#Example
x = 1    #int
y = 4.5  #float
z = 1j  # complex

In [3]:
#let's Explore an int

#Example

x = 1 
y = 34456333
z = -3255643

print(type(x))
print(type(y))
print(type(z))

#An int in Python is a built-in data type used to represent whole numbers without a fractional component.

<class 'int'>
<class 'int'>
<class 'int'>

# now we move further to the float data type 
#Example

X = 4.5
y = 6.7
z = -30.59

print(type(z))
print(type(y))
print(type(z))

#A float in Python is a built-in data type used to represent numbers with a decimal point or fractional component.

#Float can also be scientific numbers with an "e" to indicate the power of 10.

#Example


x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

# Python Strings

Now let's dive into strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

for instance 'hello' is the same as "hello".
you can display a string literal with the print() funtion:

In [8]:
#Example
print("Hello")
print('Hello')

Hello
Hello

Quotes inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [9]:
#Example
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [13]:
#Exampple
#you can use double quotes:
x = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(x)


#or three single quotes:
y = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(y)


#Note: in the result, the line breaks are inserted at the same position as in the code.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Python - Slicing Strings

Here it comes the String Slicing,You can return a range of chraracters by using slice syntax
specify the start index and the end index, separated by colon,to return a part of the string.

In [14]:
#Example 
#get the characters from position 2 to position 5(not included)
b = 'hello,world'

print(b[2:5])

#In this example, the string b = 'hello,world' is sliced from index 2 to 5, but the character at index 5 is not included. 
#So, print(b[2:5]) will output 'llo', which are the characters from index 2 to 4.

#Note: The first character has index 0.

llo

Slice From the Start
By leaving out the start index, the range will start at the first character:

In [15]:
#Example
#Get the character from the start to position 5 (no included):
x = 'hello world'
print(x[:5])

hello

Slice To the End
By leaving out the end indec , the range will go to the end:

In [17]:
#Example
#Get the character from position 2 , all the way to the end:
x= 'hello world'

print(x[2:])

llo world

Negative Indexing
Use negative indexes to start the slice from the end of the string

In [20]:
#Example
#Get the character:
#from: o in the "world" (position-5)
#to , but not included: "d in the world"(postion-2)

b = "Hello, World!"
print(b[-5:-2])

#note:The last character ('!') is -1.

orl

# Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

Upper Case
The upper() method converts all the lowercase letter in a string and return a new string without modifying the original one

In [22]:
#Exampple 
#The upper() ethod returns the string in upper case:

x  = 'hello world'
print(x.upper())

HELLO WORLD

Lower Case

same gose with the lower() method returen the string in lower case with out modifying the original string

In [24]:
#Example

x = 'HELLO WORLD'
print(x.lower())

hello world

Remove Whitespace
Whitespace is the space before and/or afterthe actual text. and very often you want to remove this space.
in order to remove whitespace we will use strip() method

In [26]:
#Example 
#the strip() method removes any whitespace from the beginning or the end:
x = ' hello, world ' # here i add space in the beginning and the end if you will notice

print(x.strip()) # returs 'hello, wrold'

hello, world

Replace String
The replace() method replaces a string with another string

In [28]:
#Example

x = 'hello world'

print(x.replace('l','j')) #The line replaces all occurrences of the character 'l' with 'j' in the string x and prints the modified string.

hejjo worjd

Split String

The split() method returns a list where the text between the sepecified separator becoms the list items.

In [34]:
#Example

x = 'hello, world!'
print(x.split(',')) # returns ['hello', 'wrold']

['hello', ' world!']

# Python - String Concatenation

String Concatenation

To concatenate , or combine, tow strins you can use + operator.

In [37]:
#Example
#Merge variable x with variable y into new variable z:
x = 'hello'
y = 'world'
z = x+y

print(z) #out will be 'hellowrold'

# to add space between them, add a ' ' or " ":

a = x+' '+y
print(a) #out will be ' hello world'

helloworld
hello world

# Python - Format - Strings

String Format
As we learnd in the python variables chapter, we cannot combine string and numbers like this

In [38]:
#Example 

age = 44
name = "my name is gill,i am "+age # this will give us can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

# But we can combine string and numbers by using f-strings or the format() method!

F-Strings

F- string was indtroduced in python 3.6 and is now the preferred way of formatting strings
To specify a string as a f-string, simply put an f in front of the string litrel, and add curly brackets{}
as placeholder for variable and other oprations.

In [40]:
#Example

age = 44
name = f"my name is gill,i am {age}"
print(name)

my name is gill,i am 44

Placeholders and Modifiers
A placeholder can  contain variables, operations,functions,and modifiers to format the value

In [42]:
#Example 
price = 69
txt = f"the price is {price}  dollars"
print(txt)

the price is 69  dollars

A place holder can include a modifire ti format the vlaue.

A modifier is include by adding a colon : followed by a legal fomating type,.2f which means fixed point number with 2 
decimals:

In [44]:
#Example

#Display the price with 2 decimals:

price = 69
txt =f"the price is {price:.2f} dollars"
print(txt)

the price is 69.00 dollars

In [51]:
#A placeholder can contain python code, like math operation:

#Example

#perform a mathe operation in the placeholder, and return the result:

txt = f"the price is {20*69} dollars" 
print(txt)

the price is 1380 dollars

# Python - Escape Characters

Escape Character
To inster character that are illegal in a string, use an excape character.

An escape character is backlash\ followed by the character you want to inster
An example of illegal character is a double qoute inside a string that i surrounded by double qutes:

In [57]:
#Example
# you will get an error f you use double quotes inside a string that is surrouded by double quotes:
txt = "we are the so-called "bodybuilders" from the india"
print(txtx)

SyntaxError: invalid syntax (3605857490.py, line 3)

In [58]:
#to fix this problem, use the escape character|":
#Example 
#the escape character allow you to use double qoutes when you normally would no be allowed:

txt = "we are the so-called \"bodybuiders\" from the india"
print(txt)

we are the so-called "bodybuiders" from the india

# Python - String Methods

String Methods

Python has a set of built-in methods that you can use on strings.

NOTE: All string methodes return new values. They do not change the original string

In [ ]:
Method	                                               Description
capitalize()	                                       Converts the first character to upper case
casefold()	                                           Converts string into lower case
center()	                                           Returns a centered string
count()	                                               Returns the number of times a specified value occurs in a string
encode()	                                           Returns an encoded version of the string
endswith()	                                           Returns true if the string ends with the specified value
expandtabs()	                                       Sets the tab size of the string
find()	                                               Searches the string for a specified value and returns the position of where it was found
format()	                                           Formats specified values in a string
format_map()	                                       Formats specified values in a string
index()	                                               Searches the string for a specified value and returns the position of where it was found
isalnum()	                                           Returns True if all characters in the string are alphanumeric
isalpha()	                                           Returns True if all characters in the string are in the alphabet
isascii()	                                           Returns True if all characters in the string are ascii characters
isdecimal()	                                           Returns True if all characters in the string are decimals
isdigit()	                                           Returns True if all characters in the string are digits
isidentifier()	                                       Returns True if the string is an identifier
islower()	                                           Returns True if all characters in the string are lower case
isnumeric()	                                           Returns True if all characters in the string are numeric
isprintable()	                                       Returns True if all characters in the string are printable
isspace()	                                           Returns True if all characters in the string are whitespaces
istitle()	                                           Returns True if the string follows the rules of a title
isupper()	                                           Returns True if all characters in the string are upper case
join()	                                               Joins the elements of an iterable to the end of the string
ljust()	                                               Returns a left justified version of the string
lower()	                                               Converts a string into lower case
lstrip()	                                           Returns a left trim version of the string
maketrans()	                                           Returns a translation table to be used in translations
partition()	                                           Returns a tuple where the string is parted into three parts
replace()	                                           Returns a string where a specified value is replaced with a specified value
rfind()	                                               Searches the string for a specified value and returns the last position of where it was found
rindex()	                                           Searches the string for a specified value and returns the last position of where it was found
rjust()	                                               Returns a right justified version of the string
rpartition()	                                       Returns a tuple where the string is parted into three parts
rsplit()	                                           Splits the string at the specified separator, and returns a list
rstrip()	                                           Returns a right trim version of the string
split()	                                               Splits the string at the specified separator, and returns a list
splitlines()	                                       Splits the string at line breaks and returns a list
startswith()	                                       Returns true if the string starts with the specified value
strip()	                                               Returns a trimmed version of the string
swapcase()	                                           Swaps cases, lower case becomes upper case and vice versa
title()	                                               Converts the first character of each word to upper case
translate()	                                           Returns a translated string
upper()	                                               Converts a string into upper case
zfill()	                                               Fills the string with a specified number of 0 values at the beginning

# Exercise: Python Strings

In [60]:
x = "welcome"

print(x[3])

c

The len() function in Python returns the number of items in an object, such as the total number of characters in a string or elements in a list. It takes a single argument (the object) and outputs its length.

In [61]:
x = "hello world"
print(len(x))

11

In [62]:
#Get the first character of the string txt.
txt = 'hello wolrd'

print(txt[0])

h

# Exercise: Python Slicing Strings

In [63]:
#get the character "co" from "welcome"
x = 'Welcome'
print(x[3:5])

co

In [64]:
#Get the characters from index 2 to index 4
txt ='hello world'

print(txt[2:5])

llo

In [65]:
# get the character come from the "welcome"

txt = 'welcome'
print(txt[3:])

com

In [70]:
#Return the string without any whitespace at the beginning or the end.

txt = " hello world "

print(txt.strip())

hello world

In [71]:
#Convert the value of txt to upper case.

txt ='Hello Wrold'

print(txt.upper())

HELLO WROLD

In [72]:
#Convert the value of txt to lower case.

txt = 'Hello World'
print(txt.lower())

hello world

In [79]:
#Replace the character H with a J.

txt = "Hello World"
txt2 = txt.replace("H", "J")
print(txt2)

Jello World

In [81]:
#Concatenate 
x = 'Welcome'
y = 'Coders'
print(x + y)

WelcomeCoders

In [82]:
#Concatenate 
a = 'Join'
b = 'the'
c = 'party'
print(a + ' ' + b + ' ' + c)

Join the party

In [83]:
#Insert the correct syntax to add a placeholder for the age parameter.

age = 56
txt= f"my name is gill, i am {age}"
print(txt)

my name is gill, i am 56